version: '3.7'

networks:
  net01:

services:
  traefik:
    image: 'traefik:v2.6'
    container_name: 'traefik'
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --providers.docker.exposedbydefault=false
    ports:
      - '80:80'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - net01
  h1:
    build:
      context: .
      args:
        - NAME=h1
    container_name: 'h1'
    tty: true
    depends_on:
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.h1.rule=Host(`h1.local`)'
      - 'traefik.http.routers.h1.entrypoints=web'
      - 'traefik.http.services.h1.loadbalancer.server.port=80'
    networks:
      - net01
  h2:
    build:
      context: .
      args:
        - NAME=h2
    container_name: 'h2'
    tty: true
    depends_on:
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.h2.rule=Host(`h2.local`)'
      - 'traefik.http.routers.h2.entrypoints=web'
      - 'traefik.http.services.h2.loadbalancer.server.port=80'
    networks:
      - net01